@model IEnumerable<PRONEXEL_Data.Models.Dto.Media>

@{
    Layout = null;
}
<div class="container-fluid">

    <div class="nk-block">
        <div class="row g-gs" >
            @foreach (var item in Model)
            {

                <div class="col-md-12" >
                    <div class="gallery card card-bordered">
                        <h3 style="margin-top:20px;padding:10px; background-color:#101924;color:white;"> <em class="icon ni ni-forward-alt-fill"></em>&nbsp;&nbsp;@ViewBag.Topic.TopicName </h3>
                        <h5 style="padding:10px;">
                            @ViewBag.Topic.TopicDescription
                        </h5>
                        <div class="gallery-image">
                           
                            @if (!string.IsNullOrEmpty(item.MediaURL))
                            {
                                if (item.MediaType == "Video")
                                {
                                    <video style="width:100%" controls controlsList="nodownload" oncontextmenu="return false;">
                                        <source src="@item.MediaURL" type="video/mp4" />
                                    </video>


                                }
                                else if (item.MediaType == "Images")
                                {
                                    <img class="w-100 rounded-top" src="@item.MediaURL" alt="Image" style="height: 200px; object-fit: cover;" />
                                }
                                else if (item.MediaType == "Documents")
                                {
                                    <div class="d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                                        <a href="@item.MediaURL" target="_blank" class="btn btn-sm btn-primary">
                                            📄 View Document
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <img class="w-100 rounded-top" src="/images/stock/a.jpg" alt="Unknown Media" />
                                }
                            }
                            else
                            {
                                <img class="w-100 rounded-top" src="/images/stock/a.jpg" alt="No media available" />
                            }
                        </div>
                        <h6 style="padding:20px">
                            @ViewBag.SubTopic.Description

                        </h6>
                    </div>
                </div>
                <div class="col-md-12" style="background-color:#101924; padding: 20px; text-align: center;">
                    <button class="btn btn-lg btn-light" style="margin-right: 10px;">Quiz Section</button>
                    <button class="btn btn-lg btn-dark">Next Topic</button>
                </div>

            }
        </div>
    </div><!-- .nk-block -->
</div>